<% clothes_diagnoses.each do |clothes_diagnosis| %>
  <% if clothes_diagnosis.id.present? %>

  <p class="diagnosis-result">診断結果</p>
  <div class="d-flex justify-content-center" >
    <div class="card w-100 p-3">
      <% if (ClothesDiagnosis.one_answers[clothes_diagnosis.one_answer]+
      ClothesDiagnosis.two_answers[clothes_diagnosis.two_answer] +
      ClothesDiagnosis.three_answers[clothes_diagnosis.three_answer] +
      ClothesDiagnosis.four_answers[clothes_diagnosis.four_answer]+
      ClothesDiagnosis.five_answers[clothes_diagnosis.five_answer]).to_i <= 3 %>
        <div class="result-title card-header bg-danger" id="result1">まだ捨てちゃダメ！</div>
        <div class="result-content card-text">手放すことにかなり迷いがあるのでは？あなたにとって大切なものだという証拠です。大切にしまっておきましょう！</div>
      <% elsif (ClothesDiagnosis.one_answers[clothes_diagnosis.one_answer]+
      ClothesDiagnosis.two_answers[clothes_diagnosis.two_answer] +
      ClothesDiagnosis.three_answers[clothes_diagnosis.three_answer] +
      ClothesDiagnosis.four_answers[clothes_diagnosis.four_answer]+
      ClothesDiagnosis.five_answers[clothes_diagnosis.five_answer]).to_i >= 7 %>
        <div class="result-title card-header bg-info" id="result2">今が手放すタイミング！</div>
        <div class="result-content card-text">もうそれは使っていませんね？今まで活躍してくれたことに感謝して、新しい出会いのために手放しましょう！</div>
      <% else %>
        <div class="result-title card-header bg-warning" id="result3">もう少し様子を見よう！</div>
        <div class="result-content card-text">手放すにはまだ早いかも？来年まで使わなかったら断捨離を検討してみましょう！</div>
      <% end %>
    </div>
  </div>

  <br>

  <% end %>
<% end %>