<% goods_diagnoses.each do |goods_diagnosis| %>
  <% if goods_diagnosis.id.present? %>

    <div>
      <% if (GoodsDiagnosis.one_answers[goods_diagnosis.one_answer]+
      GoodsDiagnosis.two_answers[goods_diagnosis.two_answer] +
      GoodsDiagnosis.three_answers[goods_diagnosis.three_answer] +
      GoodsDiagnosis.four_answers[goods_diagnosis.four_answer]+
      GoodsDiagnosis.five_answers[goods_diagnosis.five_answer]).to_i <= 3 %>
        <p>まだ捨てないほうがいい！</p>
      <% elsif (GoodsDiagnosis.one_answers[goods_diagnosis.one_answer]+
      GoodsDiagnosis.two_answers[goods_diagnosis.two_answer] +
      GoodsDiagnosis.three_answers[goods_diagnosis.three_answer] +
      GoodsDiagnosis.four_answers[goods_diagnosis.four_answer]+
      GoodsDiagnosis.five_answers[goods_diagnosis.five_answer]).to_i >= 7 %>
        <p>捨てよう！</p>
      <% else %>
        <p>まだ捨なくてもいいかも（中）</p>
      <% end %>
    </div>

    <br>

    <div>
      <p>リザルト点数確認用（実際はコメントアウト）</p>
      <%= (GoodsDiagnosis.one_answers[goods_diagnosis.one_answer]+
      GoodsDiagnosis.two_answers[goods_diagnosis.two_answer] +
      GoodsDiagnosis.three_answers[goods_diagnosis.three_answer] +
      GoodsDiagnosis.four_answers[goods_diagnosis.four_answer]+
      GoodsDiagnosis.five_answers[goods_diagnosis.five_answer]).to_i %>
    </div>

  <% end %>
<% end %>