
<div class="d-flex">
  <div class="top-content d-inline-block">

    <span class="d-md-inline-block align-items-center">
      <h1>Tidy Up</h1>
      <p>「断捨離をしたいけど、何を基準にしたら良いか分からない！」</p>
      <p>そんな方のためのモノ診断アプリケーションです。</p>
      <p>捨てるべきか迷っているモノを、質問に答えるだけで簡単に診断できます。</p>
    </span>

      <span class="d-sm-inline-block bg-primary">d-inline-block</span>
      <span class="d-sm-inline-block bg-primary">d-sm-inline-block</span>

    <span class="d-md-inline-block">
      <%= image_tag 'alexandra-gorn-W5dsm9n6e3g-unsplash.jpg', size: '550x640' %>
    </span>

    </div>

</div>