<h3 class="user-content d-flex justify-content-center"><%= @user.name %>でログイン中</h3>
<div class="user-content d-flex justify-content-center">登録名: <%= @user.name %></div>
<div class="user-content d-flex justify-content-center">メールアドレス: <%= @user.email %></div>
<div class="user-content d-flex justify-content-center "><%= link_to "モノ一覧画面にもどる", items_path, class: "btn btn-outline-dark" %></div>
