<h1>モノ一覧</h1>

<%= link_to '断捨離診断する', new_item_path %>

<table>
  <tr>
    <th>名前</th>
    <th>登録日</th>
  </tr>
<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.updated_at %></td>
    <td><%= link_to '詳細', item_path(item) %></td>
  </tr>
<% end %>
</table>