@charset "utf-8";

table {
  width: 100%;
  min-height: 20vh;
  background-color: rgb(243, 239, 226);
}

.item-content {
  padding: 20px;
  border:solid #efefef ;
  border-width: 10px 0px;
}

.category-title {
  border-bottom:solid black 1px;
}

.category-chart {
  width: 50px;
  margin: 20px;
  padding: 20px;
  background-color: #efefef;
  border-radius: 20px;
}
