.userpage-item {
  text-align: center;
}

.field-content {
  margin-bottom: 100px;
}

input[type="text"] {
  width: 400px;
  height: 40px;
}

input[type="email"] {
  width: 400px;
  height: 40px;
}

input[type="password"] {
  width: 400px;
  height: 40px;
}